# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/97/
/broadcast/*/1301/
/broadcast/*/10143/
/broadcast/*/31337/
/broadcast/*/11155111/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.vscode/

# Certora
.certora_internal/
emv*
